body{
    background-color: #659DBD;
   
}
.about{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 25px;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
