.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Merienda One', cursive;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
