.nav{
    background-color: #00303F;
    color: white;
    opacity: 0.7;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 40%;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Merienda One', cursive;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}